.carousel-caption{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 40%;
    left: 8%;
    text-align: left;
    text-transform: capitalize;
     h1{font-size:60px;}
    p{
        font-size: 30px;
    }
    a{
        font-size: 20px;
      padding: 10px 35px;
    }
  }
