footer {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    margin-top: 50px;
    padding: 20px;
        .social-items {
            display: flex;
            flex-direction: row;
            gap:15px;
            align-items: center;
            font-size: 14px;
            color: #707070;
          }
                               
              }
.footer ul{
    list-style: none;
}

 